@{
    ViewBag.Title = "Home Page";
}

<h3>Portfolio Architecture:</h3>
<ol class="round">
    <li class="one">
        <h5>Traditional ASP</h5>
        <a target="_blank" href="/Action/HtmlUsers">Server Side Delivery</a>
    </li>

    <li class="two">
        <h5>Angular</h5>
        <a target="_blank" href="/html/users.html">Client Side Angular</a>
    </li>

    <li class="three">
        <h5>Angular + CDN</h5>
        <a target="_blank" href="/html/userscommon.html">Angular Plus CDN</a>
    </li>
</ol>
